body{
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.Qeqt3ZLwaAFkrIDzCBfcSwHaEK&pid=Api&P=0&w=290&h=164");
    background-position: center;
    background-size: cover;
    text-align: center;
    size: 10px;
    color: gold;
}
