body{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.bXDDQCUiZe5A4bR6gMKQEAHaEo&pid=Api&P=0&w=261&h=164");
    background-position: center;
    background-size: cover;
    text-align: center;
    size: 1000px;
    color: gold;
}
